<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Trump Compliment Sandwich</title>

<style>
  #window1 {
    border-radius: 25px;
    border 2px solid #FF00EE;
    padding: 20px;
    width: 200px;
    height: 150px;
  }
</style>
</head>

<body>


<div class="container">
  <div class="row">
    <div class="col text-center">
      <img class="img-fluid" src="{{url_for('static', filename='logo.jpg')}}" />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="text-center">
        <div class="alert alert-primary" role="alert">

          <div class="container">
          <div class="row">
            <div class="alert alert-secondary" role="alert">
              <div class="col-8">
                {{ tweetIntro }}
              </div>
              <div class="col-4">
                <img class="img-fluid" src="{{url_for('static', filename='trumpintro.jpg')}}" />
              </div>
            </div>
          </div>
          </div>




          <div class="alert alert-danger" role="alert">
            {{ tweetMid }}
          </div>
          <div class="alert alert-secondary" role="alert">
            {{ tweetOutro }}
          </div>

        </div> <!--alert div-->


      </div>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <div class="text-center">
        <a class="btn btn-primary" target="_blank" role="button"
        href= {{ tweetURL }}>
        Tweet this nonsense
        </a>
      </div>
    </div>
  </div>


</div>


</body>
</html>
